<div class="row justify-content-center align-items-center no-gutters banner-agile bg-theme">
    <!-- Carousel -->
    <div class="col-lg-8">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                
            </ol>
            <div class="carousel-inner">
                <!-- slider text -->
                <div class="carousel-item bg1 active">
                    <div class="bnr-text-wthree">
                        <!--
                        <h3 class="b-w3ltxt">the perfect theme for</h3>
                        <p class="mx-auto text-capitalize mt-2 text-white">education and training center</p>
                        -->
                    </div>
                </div>
                <!-- slider text -->
                <div class="carousel-item bg2">
                    <div class="bnr-text-wthree">
                        <!--
                        <h3 class="b-w3ltxt">the perfect theme for</h3>
                        <p class="mx-auto text-capitalize mt-2 text-white">education and training center</p>
                        -->
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- //Carousel -->
    
</div>